<div class="container" style="padding-left: 0; padding-right: 0;margin-left:0;margin-right:0;min-width:100%;">
  <header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">

    <a class="navbar-brand" [routerLink]="['/home']" (click)="navbarCollapsed = true">Live-Learn</a>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/register']" (click)="navbarCollapsed = true">Register</a>
        </li>
      </ul>
      <ul class="navbar-nav navbar-right">
      	<li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" [routerLink]="['/contact']" (click)="navbarCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </header>
</div>