<div class="chat">
	<div class="chat-body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
		<div class="message" [ngClass]="{'left': message.direction==='left', 'right': message.direction==='right', 'chatbot': message.type==='chatbot', 'instructor': message.type==='instructor', 'self': message.type==='self', 'student': message.type==='student', 'chatbot-issue': message.type==='chatbot-issue'}" *ngFor="let message of messages">
			<div class="message-body">
				<div class="text">
					{{message.text}}
				</div>
				<div class="sender">
					{{message.type}}
				</div>
				<div class="questionNumerical" *ngIf="message.questionTypeEnum">
					<div *ngFor="let option of message.options" class="num-answer-btn">
						<button class="btn btn-default" (click)="answerMessage(message, option)">{{option}}</button>
					</div>
				</div>
				
	<!-- 			<div class="time">
					{{message.time}}
				</div> -->
			</div>
		</div>
	</div>

	<div class="chat-footer">
		<div class="input-group">
			<input class="form-control" #messageInput/>
			<span class="input-group-btn">
		        <button class="btn btn-default" type="button" (click)="sendMessage(messageInput.value)">Send</button>
		   </span>
		</div>
	</div>
</div>
